body {
   background-color: #181921
}
h1 {
   background-color: #181921;
   text-align: center;
   font-size: 120px;
   margin: 40px;
   font-family: 'Garamond';
   color: #BDA963;
}

#arvo {
   font-size: 90px;
   margin: 15px;
   font-family: Garamond;
   color: white;
}

#quote{
   background-color: #323445;
   border-color:
   margin-top: 75px;
   margin-bottom:75px;
   margin-right: 100px;
   margin-left:100px;
   text-align: center;
   font-size: 30px;
   font-family: 'Garamond';
   color: white;
   }

h2 {
   background-color: #323445;
   margin-right: 100px;
   margin-left: 100px;
}

#pic {
   background-color: #323445;
   height: 357px;
}

img {
width: 600px;
 float: left;
 margin-right: 12px;
}

#list1 {
   font-family: garamond;
   font-size: 29px;
   color: #BDA963;
}
#list li{
   padding: 1px;
}
#heading {
   font-size: 26px;
   text-align: center;
   color: #BDA963;
}

h3 {
   background-color: #323445;
   height: 28px;
}

#firstreview{
   background-color: #BDA963;
   color: #181921;
   font-family: garamond;
   font-size: 18px;
   margin-right: 100px;
   margin-left: 100px;
}

#review2{
   background-color: #323445;
   color: #BDA963;
   font-family: garamond;
   font-size: 18px;
   margin-left: 100px;
   margin-right: 100px;
}
#tracklist2{
   background-color: #BDA963;
   color: #181921;
   margin-left: 100px;
   margin-right: 100px;
   text-indent: 400px;
}

#review3 {
   background-color: #323445;
   color: #BDA963;
   font-family: garamond;
   font-size: 18px;
   margin-left: 100px;
   margin-right: 100px;
}
