body {
   background-color: #181921
}
h1 {
   padding-top: 210px;
   text-align: center;
   font-size: 120px;
   margin: 40px;
   font-family: 'Garamond';
   color: #BDA963;
}

#arvo {
   font-size: 90px;
   margin: 15px;
   font-family: Garamond;
   color: white;
}

#quote1 {

   margin-top: 260px;
   margin-bottom: 45px;
   margin-right: 100px;
   margin-left:100px;
   text-align: justify;
   text-align: center;
   font-size: 35px;
   font-family: 'helvetica neue';
   color: #e6cd78;
   font-weight: lighter;
   letter-spacing: 1px;
   }


img {
width: 400px;
 float: left;
margin-left: 15%;
padding-right: 50px;
padding-left:100px;
}

#list {
margin-top: -5px;
margin-bottom: 20px;
 font-family: 'helvetica neue';
 font-weight: lighter;
   font-size: 27px;
   color: white;
}

#one {
   font-style: none;
   font-size: 45px;
}

#two {
   font-size: 45px;

}

#three{
   font-size: 45px;
}

#four{
   font-size: 45px;
}

#five{
   font-size: 45px;
}

#heading {
   color: white;
   font-size: 40px;
   text-align: center;

}

h3 {
   padding: 30px;
   height: 28px;
   font-family: 'helvetica neue';
   font-weight: lighter;
   font-size: 50px;
}

#firstreview{

   text-indent: 50px;
   color: #e6cd78;
   font-family: 'garamond';
   font-weight: lighter;
   font-size: 20px;
   margin-right: 140px;
   margin-left: 140px;
   line-height: 120%;
}
#allmusic{
   color: white;
   font-weight: bold;
   font-size: 25px;
   margin-left: 80%;
}
#review2{
     text-indent: 50px;
   color: #e6cd78;
   font-family: 'garamond';
   font-weight: lighter;
   font-size: 20px;
   margin-right: 140px;
   margin-left: 140px;
   line-height: 120%;
}
#tracklist2{
   color: white;
   font-family: 'helvetica neue';
   font-weight: lighter;
   text-align: center;
   margin-left: 120px;
   margin-right: 120px;
}

#review3 {
   text-indent: 50px;
   color: #e6cd78;
   font-family: 'garamond';
   font-weight: lighter;
   font-size: 20px;
   margin-right: 140px;
   margin-left: 140px;
   line-height: 120%;
}

#ecm {
   color: white;
   font-family: 'garamond';
   font-weight: bold;
   font-size: 25px;
   margin-left: 80%;
   line-height: 120%;

}
